# Ignore Everything
*

# Except these things
!Assignment01/
!Assignment01/*
!Assignment02/
!Assignment02/*
!Assignment03/
!Assignment03/*
!Assignment04/
!Assignment04/*
!Assignment05/
!Assignment05/*
!Assignment06/
!Assignment06/*
!Assignment07/
!Assignment07/*.tgz
!Assignment07/*.txt
!Assignment07/*.docx
!Assignment07/*.py
!Assignment07/*.md
!Assignment08/
!Assignment08/*
!Assignment09/
!Assignment09/*.py
!Assignment09/testdata.txt
!.gitignore
!.README.md
